[submodule "themes/devise"]
	path = themes/devise
	url = https://github.com/austingebauer/devise.git
[submodule "themes/hugo-tania"]
	path = themes/hugo-tania
	url = https://github.com/WingLim/hugo-tania
[submodule "themes/zozo"]
	path = themes/zozo
	url = https://github.com/varkai/hugo-theme-zozo
